@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --primaria: #3b82f6;
  --secundaria: #60a5fa;
  --escuro: #0f172a;
  --maisEscuro: #020617;
  --claro: #f1f5f9;
  --vidro: rgba(255, 255, 255, 0.08);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: rgba(2, 6, 23, 1);
  background: radial-gradient(
    100% 100% at 50% 50%,
    rgba(2, 6, 23, 1) 41.4%,
    rgba(59, 130, 246, 1) 100%
  );
  color: var(--claro);
}
.navbar {
  position: fixed;
  top: 0;
  background: rgba(2, 6, 23, 0.8);
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}
.nav-links {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}
.nav-links::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  background: linear-gradient(
    90deg,
    rgba(59, 130, 246, 0.8),
    rgba(96, 165, 250, 0.8)
  );
  filter: blur(0.5px);
  box-shadow: 0 0 8px #3b82f6;
  transition: width 0.5s ease;
}
.nav-links:hover::after {
  width: 100%;
}
.foto-pfp {
  width: 400px;
  height: 400px;
  box-shadow:
    0 0 15px rgba(59, 130, 246, 0.4),
    0 0 40px rgba(59, 130, 246, 0.2);
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.08);
}
.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-size: 3.5rem;
  color: var(--primaria);
  font-weight: bold;
  margin: 15px;
}
.main-p {
  font-size: 2.5rem;
  color: var(--claro);
  text-align: center;
}
.sobre {
  padding: 6rem 2rem;
}
.sobre-title {
  font-size: 3rem;
  color: var(--claro);
  text-align: center;
  margin-bottom: 20px;
}
.sobre-box {
  padding: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 17px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}
.sobre-p {
  text-align: center;
  font-size: 1.25rem;
}
.projetos-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
}
.projetos-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.projetos-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}
.projetos-card:hover {
  box-shadow: 0 10px 20px rgba(59, 130, 246, 0.2);
  transform: translateY(-10px) scale(1.1);
}
.projetos-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.projetos-info {
  padding-left: 0.3rem;
}
.projetos-p {
  padding: 0.3rem;
}
.contato {
  padding: 6rem 2rem;
}
.contato-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}
.contato-div {
  margin-bottom: 1.5rem;
}
.contato-nome-form {
  margin-bottom: 15px;
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: var(--claro);
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.08);
  outline: none;
  resize: none;
  transition: all 0.3s ease;
}
.contato-nome-form:focus {
  border: 2px solid rgba(59, 130, 246, 0.2);
  box-shadow: 0 10px 20px rgba(59, 130, 246, 0.2);
  transform: translateY(-2px);
}
.contato-form {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;
}
.button-contato {
  display: flex;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  background: var(--secundaria);
  box-shadow: none;
  border-radius: 50px;
  font-weight: bold;
  gap: 20px;
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.08);
  border: none;
  transition: all 0.3s ease;
}
.button-contato:hover {
  cursor: pointer;
  background-color: var(--primaria);
  box-shadow: 0 10px 20px rgba(59, 130, 246, 0.2);
  transform: translateY(-4px) scale(1.1);
}
a {
  text-decoration: none;
  color: var(--claro);
  gap: 10px ;
}
h3{
  font-weight: normal;
}
footer {
  text-align: center;
}
li{
  font-size: 1.25rem;
  margin-left: 2.3rem;
}
.form-title{
  font-size: 2.5rem;
  color: var(--claro);
  text-align: center;
  margin: 1rem;
}
.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .foto-pfp {
    width: 180px;
    height: 180px;
    margin-top: 30px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-toggle {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background: rgba(2, 6, 23, 0.95);
    width: 220px;
    padding: 20px;
    gap: 1.5rem;
    border-radius: 0 0 0 12px;
    transform: translateX(-100%);
  transition: 1s all ease;
  }

  .menu.active {
    display: flex;
    transform: translateX(0);
  }
}